.orange-bg{

    background-color: #fceae8;
}
.container{

    margin-bottom: 60px;
}

.carousel-item{

    padding: 20px 40px;
    height: 400px;
    
}
.price{
    color: darkorchid;
}

.buy-now-button{

    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: wheat;
    padding:9px 25px;



}
.col-md-5 img{
    height: 380px;
    
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    height: 140px;
}
.cat1{
    background-color: rgb(236, 42, 236);
     
}

.cat2{
 background-color: orchid
}

.cat3{
 background-color: ;

   background-color: purple;

}
.categories h1{
    color: white;
}

.categories img{
    
     height: 120px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
#Contacts{
    height: 300px;
}
footer{
    text-align: center;
    
}
.card-footer {
     
    background-color:white; 
     border-top: none; 
}